<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>See the hashed values of data entered</h1><br><br><br><br>
    <div> 
        <form action="/show" method="POST">
            <p id="content"> </p>
        </form>
        
    </div>
    <script>
        var mongo = require('mongodb');
        var MongoClient = require('mongodb').MongoClient;

        var url = "mongodb:http//mongodb:27017/";

        const content = document.getElementById("content")

        MongoClient.connect(url, function(err, db) {
            if (err) throw err;
            var dbo = db.db("data");
            dbo.collection("info").find({}).toArray(function(err, result) {
                if (err) throw err;
                console.log(result);
                content.innerHTML(result);
                db.close();
            });
        });

    </script>
</body>
</html>