<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form name="loginForm" method="post" action="index.html">
    <table width="20%" bgcolor="0099CC" align="center">
      
        <tr>
      <td colspan=2><center><font size=4><b>Login</b></font></center></td>
      </tr>
      
      <tr>
      <td><input type="text" placeholder="Username" style="font-family: Roboto, sans-serif; outline: 1; background: #f2f2f2; width: 100%; border: 0; margin: 0 0 15px; padding: 15px; box-sizing: border-box; font-size: 14px;" size=25 name="user"></td>
      </tr>
      
      <tr>
      <td><input type="Password" placeholder="Password" style="font-family: Roboto, sans-serif; outline: 1; background: #f2f2f2; width: 100%; border: 0; margin: 0 0 15px; padding: 15px; box-sizing: border-box; font-size: 14px;" size=25 name="pass"></td>
      </tr>
      
      <tr>
      <td><input type="submit" onclick="return check(this.form)" style="font-family: Roboto, sans-serif; text-transform: uppercase; outline: 0; background: #4CAF50; width: 100%; border: 0; padding: 15px; color: #ffffff; font-size: 14px; cursor: pointer;"></td>
      </tr>
      <h3 align="center">Login for show data page</h3>
    </table>  
</form> 
</body>
</html>